
/* Hide Sidebar User Profile # of Tweets, Followers Likes   */
.ProfileCardStats-statValue {
  display: none !important;
}

/* Hide User Profile # of Tweets, Followers Likes */
[href$='/followers'] span > span:first-child,
[href$='/following'] span > span:first-child {
  display: none !important;
}

/* Hides a tweets # of Comments, Retweets and Likes   */
[aria-label='Tweet actions'] svg + span {
  font-size: 0 !important;
  position: relative !important;
}

[aria-label='Tweet actions'] svg + span:not(:empty):before {
  content: '◯' !important;
  font-size: 1rem !important;
  padding-left: 0.5rem !important;
}

/* Hides an opened tweets # retweets and likes */
[data-testid='tweetDetail'] > div:nth-child(6) a span > div:first-child {
  display: none !important;
}

/* Hides trending topics amount of tweets  */
[data-testid='trend'] > div > div:nth-child(2) {
  display: none !important;
}

/* Hide a post Comments # of likes*/
div[count],
span[count] {
  font-size: 0px !important;
}
div[count]:before,
span[count]:before {
	content: '◯' !important;
  font-size: 1rem !important;
  margin-left: 0.25rem;
}

/* Hide User Menu # of friends and Followers in Menu */
a[href$="/followers"] div:nth-child(1),
a[href$="/following"] div:nth-child(1) {
	display: none;
}

/* Hide Promoted By */
[gswfh9d] {
    display: none !important;
}
