@keyframes showfeed {
  0.0%      { content: '◯\A\AHover for 30s to see feed.'}
  3.3333%   { content: '◯\A\AHover for 29s to see feed.'}
  6.6666%   { content: '◯\A\AHover for 28s to see feed.'}
  9.9999%   { content: '◯\A\AHover for 27s to see feed.'}
  13.3332%  { content: '◯\A\AHover for 26s to see feed.'}
  16.6665%  { content: '◯\A\AHover for 25s to see feed.'}
  19.9998%  { content: '◯\A\AHover for 24s to see feed.'}
  23.333%   { content: '◯\A\AHover for 23s to see feed.'}
  26.6664%  { content: '◯\A\AHover for 22s to see feed.'}
  29.9997%  { content: '◯\A\AHover for 21s to see feed.'}
  33.333%   { content: '◯\A\AHover for 20s to see feed.'}
  36.6663%  { content: '◯\A\AHover for 19s to see feed.'}
  39.9996%  { content: '◯\A\AHover for 18s to see feed.'}
  43.3329%  { content: '◯\A\AHover for 17s to see feed.'}
  46.6661%  { content: '◯\A\AHover for 16s to see feed.'}
  49.9995%  { content: '◯\A\AHover for 15s to see feed.'}
  53.3328%  { content: '◯\A\AHover for 14s to see feed.'}
  56.6661%  { content: '◯\A\AHover for 13s to see feed.'}
  59.9994%  { content: '◯\A\AHover for 12s to see feed.'}
  63.3326%  { content: '◯\A\AHover for 11s to see feed.'}
  66.666%   { content: '◯\A\AHover for 10s to see feed.'}
  69.9993%  { content: '◯\A\AHover for 9s to see feed.'}
  73.3326%  { content: '◯\A\AHover for 8s to see feed.'}
  76.6659%  { content: '◯\A\AHover for 7s to see feed.'}
  79.9992%  { content: '◯\A\AHover for 6s to see feed.'}
  83.3325%  { content: '◯\A\AHover for 5s to see feed.'}
  86.6658%  { content: '◯\A\AHover for 4s to see feed.'}
  89.9991%  { content: '◯\A\AHover for 3s to see feed.'}
  93.3323%  { opacity: 1; content: '◯\A\AHover for 2s to see feed.'}
  96.6657%  { content: '◯\A\AHover for 1s to see feed.'}
  99.999%   { z-index: 800; content: '◯\A\AHover for 0s to see feed.'}
  100%      { z-index: -800; opacity: 0; cursor-events: none; visibility: hidden;}
}

[aria-label="News Feed"] {
  animation-fill-mode: both;
}

[aria-label="News Feed"]:before {
  content: '◯\A \AHover for 30s to see feed.';
  cursor: progress;
  background: #e9ebee;
  display: block;
  white-space: pre;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding: 200px 0px;

  animation: showfeed 30s forwards;
  animation-play-state: paused;
  z-index: 200;
  opacity: 1;
}

[aria-label="News Feed"]:hover:before {
  animation-play-state: running;
}

/* Replace {Home #} button in Header with {Home} */
[data-click='home_icon'] a > div > div {
  font-size: 0px !important;
}

[data-click='home_icon'] a > div > div:before {
  content: '◯' !important;
  font-size: 10px !important;
}

/* Hide # of Messages, Friend Requests, Notifications etc. */
.jewelCount span {
  font-size: 0px !important;
}

.jewelCount span:before {
  content: '◯' !important;
  font-size: 10px !important;
}

/* Hide Posts {Name}, {Name} and X others */
[aria-label='See who reacted to this'] + a {
  display: none !important;
}

/* Hide a post Comments # of likes*/
.UFICommentLikeButton {
  display: none !important;
}

[data-comment-prelude-ref] {
  font-size: 0px !important;
}

[data-comment-prelude-ref]:before {
  font-size: 13px !important;
  content: 'Comments';
}

.UFIReplySocialSentenceLinkText {
  font-size: 0px !important;
}

/* Replaces {# of replies} with more replies */
.UFIReplySocialSentenceLinkText:before {
  content: 'more replies' !important;
  font-size: 13px !important;
}

/* Hide User Profile Tab # of mutual friends */
[data-tab-key='friends'] span {
  display: none !important;
}

/* Hide User Friends Page # of Friends */
[name='All Friends'] span:nth-child(2) {
  display: none !important;
}

/* Hide User Friends Page aa profiles # of mutual friends */
[data-testid='friend_list_item'] .uiProfileBlockContent a:nth-child(2) {
  display: none !important;
}

/* Hide User Side columns # of friends */
.fbTimelineTwoColumn span > a[href$='/friends'] {
  display: none !important;
}

/* Replace # of friends to See mutual friends */
.fbTimelineTwoColumn a[href$='/friends_mutual'] {
  font-size: 0;
}

.fbTimelineTwoColumn a[href$='/friends_mutual']:before {
  content: '(Mutual Friends)' !important;
  font-size: 14px !important;
}

/* Replace sidebar # with ◯ */
#pagelet_navigation .countValue {
  font-size: 0 !important;
}

#pagelet_navigation .countValue:before {
  content: '◯' !important;
  font-size: 11px !important;
}

/* Hide Pages Likes, Views etc and only show # on hover */
#homepage_panel_pagelet_content div > div:nth-child(5) {
  opacity: 0 !important;
  transition: opacity 250ms !important;
}

#homepage_panel_pagelet_content:hover div > div:nth-child(5) {
  opacity: 1 !important;
}
